@font-face { font-family: TroubleSide; src: url('font.ttf'); } 

html {
    overflow-x: hidden;
    overflow-y: hidden;
}
body {
    height: 100vh;
    margin: 0px;
    display:grid;
    place-items:center;
    
    background-color: #151515;
    color: #c23576;
    
    font-size: 60px;
    text-align: center;
    font-family: TroubleSide;
    text-shadow: #c23577a9 0px 0px 8px;
    overflow-x: hidden;
    overflow-y: hidden;
}
#subtext {
    font-size: 15px;
    text-shadow: none;
}

.flower {
    position: absolute;
    animation: flower 9s 1;
    transform: rotate(-135deg);
    scale: 0;
}

@keyframes flower {
    10%, 70% {
        transform: rotate(0);
        scale: 100%;
    }
    100% {
        transform: rotate(135);
        scale: 0%;
    }
}
